            <div class="container-fluid fixed-top">
                <div class="container px-0">
                    <nav class="navbar navbar-light bg-white navbar-expand-xl">
                        <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Clarity Market</h1></a>
                        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="fa fa-bars text-primary"></span>
                        </button>
                        <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                            <div class="navbar-nav mx-auto">
                                <a href="index.html" class="nav-item nav-link active">Home</a>
                                <a href="shop.html" class="nav-item nav-link">Compra</a>
                                <a href="contact.html" class="nav-item nav-link">Contacto</a>
                            </div>
                        
                                <div class="d-flex m-3 me-0">
                                    <div class="searchLogin">
                                        <form class="searchBox" action="/marketplace/index.php" method="GET">
                                            <button type="submit" name="search">
                                            </button>
                                            <input type="search" autocomplete="off" label="Search" placeholder="Search by title/ author" name="keyword" value="<?php echo isset($_GET['keyword']) ? $_GET['keyword'] : '' ?>">
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>